@import url('reset.css');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
img{
    margin: 0 auto;
    max-width: 100%;
}
.wrap{
    width: 100%;
    background-color: #003A59;
}
.centerPage{
    width: 1024px;
    margin: 0 auto;
    /* border-style: solid;
    border-width: 3px; */
    text-align:  center;
}
@font-face {
    font-family: 'bodoni';
    src: url('../font/BodoniFLF-Bold.eot') format('eot'),
         url('../font/BodoniFLF-Bold.otf') format('otf'),
         url('../font/BodoniFLF-Bold.ttf') format('ttf'),
         url('../font/BodoniFLF-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.bodoniFont{
    font-family: bodoni ;
}
/* .chineseFont{
    font-family: "Microsoft JhengHei";
} */
.wrap .centerPage .welcomePage{
    background-color: white;
    background-image: url('../img/img1.jpg');
    background-size: cover;
    background-size: 1024px auto;
    background-repeat: no-repeat;
    background-position:0 -350px;
    padding-top: 60px;
    padding-bottom: 100px;
}
.welcomePage p{
    font-size: 30pt; 
    color: #003A59;
    letter-spacing: 10px;
}
.line{
    width: 1.5px;
    height: 150px;
    position: absolute;
    background-color: white;
    margin-left: 510px;
}
.ourStory{
    padding-bottom: 200px;
    padding-top: 50px;
}
.fontBox{
    margin:0 auto; 
    margin-bottom: 50px;
    width: 280px;
    border-style: solid;
    border-width: 1.5px;
    border-color: white;
    padding: 5px;

}
.ourStory ul li{
    border-width: 1.5px;
    border-color: white;
    padding-left: 300px;
    
}
.ourStory ul li p{
    color: #9FA0A0;
    font-size: 20pt;
    letter-spacing: 5px;
    text-align: left;
    padding-bottom: 5px;
    font-family: "Microsoft JhengHei";
}
.ourStory ul img{
    text-align: center;
    width: 40%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;

}
.universe{
    background-image: url('../img/universe.png');
    background-size: cover;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-top: 50px;
    padding: 100px 0 300px 0;
    position: relative;
    background-position:100px 0;
}
.universe p{
    position:absolute;
}
#superMoon{
    font-size:30pt;
    color:#AA854F;
    padding-top: 20px;
    padding-left:200px;
}
.universeFont1{
    right: 55px; top:60px;
}
.universeFont2{
    right: 45px;
    letter-spacing: 20px;
}
.universeFont3{
    left: 290px;
    top:145px;
}
.universeFont4{
    right: 320px;
    top:145px;
}
.universeFont5{
    left: 240px;
    top:200px;
    
}
.universeFont6{
    right:270px;
    top:200px;
    
}
.weddingDesign{
    background-color: white;
    padding-top: 50px;
}
.weddingDesign .fontBox{
    width: 480px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}
.weddingDesign .fontBox p{
    font-size: 30pt;
    color: #000000;
}
.logo2{
    width: 30%;
    height: auto;
    opacity: 0.8; 
    filter: alpha(opacity=80); 
    position: relative;
    top: 30px;
    left: 160px;
    margin-bottom: 70px;
}
.weddingDesign ul li{
    padding-left: 300px;
}
.weddingDesign ul li p{
    text-align: left;
    color: #9FA0A0;
    padding-bottom: 5px;
    letter-spacing: 15px;
}
.colorspace{
    padding-bottom: 100px;
}
.colorBox{
    height: 80px;
    width: 80px;
    background-color: #000000;
    float: left;
}
.colorIntroduction{
    float: left;
    padding-top: 10px;
    padding-left: 40px;
}
.photoPage{
    padding-top: 50px;
    padding-bottom: 50px;
}
.photoPage .fontBox{
    width: 300px;
    padding:20px;
    border-color: #AB8652;
}
.photoPage .fontBox p{
    font-size: 30pt;
    color: #AB8652;
    letter-spacing: 10px;
}
.photoPage img{
    width: 80%;
    height: auto;
    margin-bottom: 50px;
}
.photoPage a{
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    display:block;
    color: white;
    margin: 0 auto;
    width: 300px;
    height: auto;
    padding: 20px 10px ;
    border-style: solid;
    border-width: 1.5px;
    border-color: white;
}
.photoPage a:hover{
    border-color: #AB8652;
    color: #AB8652;
}
.rwdTest{
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: rgb(68, 66, 66);
}
@media screen and (max-width : 768px) {
    .rwdTest{
        visibility:visible;
    }
    img{
        /* margin: 0 auto; */
        max-width: 100vw;
    }
    .wrap{
        width: 100vw;
    }
    .centerPage{
        width: 100vw;
    }
    .wrap .centerPage .welcomePage{
        background-position:-28vw -350px;
    }
    .line{
        margin-left: 49vw;
    }
    .ourStory ul li{
        padding-left: 15vw;
        
    }
    #superMoon{
        padding-left:35vw;
    }
    .universeFont1{
        right: 1vw; top:5vw;
    }
    .universeFont2{
        right: 4vw;
        top:10vw;
    }
    .universeFont3{
        left: 30vw;
        top:15vw;
    }
    .universeFont4{
        right: 25vw;
        top:15vw;
    }
    .universeFont5{
        left: 25vw;
        top:19vw;
        
    }
    .universeFont6{
        right:20vw;
        top:19vw;
        
    }
    .logo2{
        top: 3vw;
        left: 18vw;
    }
    .weddingDesign ul li{
        padding-left: 20vw;
    }
    .weddingDesign ul li p{
        text-align: left;
        color: #9FA0A0;
        padding-bottom: 5px;
        letter-spacing: 15px;
    }
    .colorspace{
        padding-bottom: 100px;
    }
    .colorBox{
        height: 80px;
        width: 80px;
        background-color: #000000;
        float: left;
    }
    .colorIntroduction{
        float: left;
        padding-top: 10px;
        padding-left: 40px;
    }
    .photoPage{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .photoPage .fontBox{
        width: 300px;
        padding:20px;
        border-color: #AB8652;
    }
    .photoPage .fontBox p{
        font-size: 30pt;
        color: #AB8652;
        letter-spacing: 10px;
    }
    .photoPage img{
        width: 80%;
        height: auto;
        margin-bottom: 50px;
    }
    .photoPage a{
        text-align: center;
        text-decoration: none;
        font-size: 30px;
        display:block;
        color: white;
        margin: 0 auto;
        width: 300px;
        height: auto;
        padding: 20px 10px ;
        border-style: solid;
        border-width: 1.5px;
        border-color: white;
    }
    .photoPage a:hover{
        border-color: #AB8652;
        color: #AB8652;
    }

}